.navbar img{
    height: 50px;
}

.navbar .nav-link {
    color: white !important;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: lightgray !important;
    transition: 0.3s;
  }

.navbar .nav-link.active{
    color: lightgray !important;
}  