.navbar{
    background-color: rgb(22, 22, 22);
}

.navbar img{
    height: 50px;
}

.navbar .nav-link {
    color: white !important;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: lightgray !important;
    transition: 0.3s;
}

.navbar .nav-link.active{
    color: lightgray !important;
}  

.carousel-inner img{
    filter: brightness(55%);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-trailer{
    background-color: gold;
}

.movie-poster {
    height: 350px !important;
    width: 250px !important;
    border-radius: 5px;
    margin-right: 50px;
    object-fit: cover;
    border: 2px solid gold;
    filter: none !important;
}
  



